<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default" id="search_results">
        <div class="panel-heading">
          <h3 class="panel-title"><strong>Results for <%= params[:gem_name] %></strong></h3>
        </div>
        <div class="panel-body">
          <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
              <% if logged_in? %>
                <th class="col-sm-1">
                </th>
              <% end %>
              <th class="col-sm-2">
                Gem name
              </th>
              <th class="col-sm-7">
                Description
              </th>
              <th class="col-sm-2">
                Total Downloads
              </th>
            </tr>
            </thead>
            <tbody>
            <% @results.each do |gem| %>
              <tr>
                <% if logged_in? %>
                  <td>
                    <%= render partial: 'shared/heart_button', locals: {gem: gem} %>
                  </td>
                <% end %>
                <td>
                  <%= link_to "#{gem.name}", gem %>
                </td>
                <td>
                  <%= truncate(gem.description, length: 200, separator: ' ') %>
                </td>
                <td>
                  <%= number_with_delimiter(gem.total_downloads, :delimiter => ',') %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
          <%= paginate(@results) %>
        </div>
      </div>
    </div>
  </div>
</div>