<div class="col-xs-12">
  <div class="panel panel-info" id="<%= gem_id %>">
    <div class="panel-heading">
      <h2 class="panel-title"><strong><%= title %></strong>
        <% if view_more %>
          <small><%= link_to('View more', path_for_gems) %></small>
        <% end %>
      </h2>
    </div>
    <div class="panel-body">
      <% if use_pagination %>
        <div class="text-center"><%= paginate gems, :theme => 'twitter-bootstrap-3' %></div>
      <% end %>
      <table class="table table-hover table-striped">
        <thead>
        <tr>
          <% if logged_in? %>
            <th class="col-xs-1">
            </th>
          <% end %>
          <th class="col-xs-2">
            Gem name
          </th>
          <th class="col-xs-7">
            Description
          </th>
          <th class="col-xs-2">
            Total Downloads
          </th>
          <th class="col-xs-2">
            GitHub Stars
          </th>
        </tr>
        </thead>
        <tbody>
        <% gems.each do |gem| %>
          <tr>
            <% if logged_in? %>
              <td>
                <%= render partial: 'shared/heart_button', locals: {gem: gem} %>
              </td>
            <% end %>
            <td>
              <%= link_to "#{gem.name}", gem %>
            </td>
            <td>
              <%= truncate(gem.description, length: 200, separator: ' ') %>
            </td>
            <td>
              <%= number_with_delimiter(gem.total_downloads, :delimiter => ',') %>
            </td>
            <td>
              <%= number_with_delimiter(gem.gh_stars, :delimiter => ',') %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <% if use_pagination %>
        <div class="text-center"><%= paginate gems, :theme => 'twitter-bootstrap-3' %></div>
      <% end %>
    </div>
  </div>
</div>