<div class="col-md-9">
  <div class="well profile col-xs-12">
    <div class="col-md-8 col-xs-8">
      <%= render partial: 'shared/heart_button', locals: {gem: @gem} %>
      <%= render partial: 'shared/gem_likes_label', locals: {gem: @gem} %>
      <h2 class="break-word"><%= @gem.name %></h2>

      <p><strong>Version: </strong><%= @gem.version %></p>

      <p class="break-word"><strong>About: </strong><%= @gem.description %></p>
    </div>
    <div class="col-md-4 col-xs-4 pull-right">
      <%= link_to 'Update Gem', edit_popular_gem_path(@gem), class: "btn btn-warning btn-block", id: "update_gem", remote: true %>
    </div>
  </div>
  <div class="well profile col-xs-12">
    <div class="col-xs-8">
      <h2>Stats</h2>
    </div>
    <div class="col-xs-4">
      <h2>Links</h2>
    </div>
    <div class="col-xs-8">
      <table>
        <tr>
          <td class="col-xs-6">Total Downloads:</td>
          <td><strong><%= number_with_delimiter(@gem.total_downloads, :delimiter => ',') %></strong></td>
        </tr>
        <tr>
          <td class="col-xs-6">Version Downloads:</td>
          <td><strong><%= number_with_delimiter(@gem.version_downloads, :delimiter => ',') %></strong></td>
        </tr>
        <% if @gem.gh_updated_at != nil %>
          <tr>
            <td class="col-xs-6">Forks:</td>
            <td><strong><%= number_with_delimiter(@gem.gh_forks, :delimiter => ',') %></strong></td>
          </tr>
          <tr>
            <td class="col-xs-6">Stars:</td>
            <td><strong><%= number_with_delimiter(@gem.gh_stars, :delimiter => ',') %></strong></td>
          </tr>
          <tr>
            <td class="col-xs-6">Issues:</td>
            <td><strong><%= number_with_delimiter(@gem.gh_issues, :delimiter => ',') %></strong></td>
          </tr>
          <tr>
            <td class="col-xs-6">Date last updated:</td>
            <td>
              <strong><%= "#{@gem.gh_updated_at.year}-#{@gem.gh_updated_at.month}-#{@gem.gh_updated_at.day}" %></strong>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-4">
      <a href="<%= @gem.url %>" class="btn btn-success col-xs-12">View on Rubygems</a>
      <br/>
      <br/>
      <a href="<%= @gem.project_url %>" class="btn btn-info col-xs-12">View on GitHub</a>
    </div>
  </div>
  <h1>Comments:</h1>

  <div id="comments">
    <% @comments.each do |comment| %>
      <div id="single_comment">
        <hr/>
        <div class="col-xs-1">
          <% if logged_in? && !Comment.find_comments_by_user(current_user).include?(comment) %>
            <% if current_user.liked? comment
                 liked = 'text-primary bg-warning'
               elsif current_user.disliked? comment
                 unliked = 'text-primary bg-warning'
               end %>

            <ul class="list-unstyled">
              <li>
                <small>
                  <%= link_to up_vote_comment_path(comment.id, current_user.id), method: :post, id: "vote-up" do %>
                    <span class='glyphicon glyphicon-chevron-up <%= liked %> h5'></span>
                  <% end %>
                </small>
              </li>
              <li>
                <small>
                  <%= link_to down_vote_comment_path(comment.id, current_user.id), method: :post, id: "vote-down" do %>
                    <span class='glyphicon glyphicon-chevron-down <%= unliked %> h5'></span>
                  <% end %>
                </small>
              </li>
            </ul>
          <% end %>
        </div>

        <div class="col-xs-11 comment">
          <div class="break-word">
            <%= comment.body.html_safe %>
          </div>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-8">
              <strong><%= link_to comment.user.name, comment.user %>:</strong>
              <span class="badge danger" id="comment_points"><%= comment.user.points %></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-8">
              <% if logged_in? && Comment.find_comments_by_user(current_user).include?(comment) %>
                <small><%= link_to '[Delete comment]', comment, method: :delete %></small>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% if logged_in? %>
    <%= form_for @comment, html: {class: "form-horizontal"} do |f| %>
      <div class="form-group">
        <%= f.text_area :body, class: "wysihtml5 form-control", placeholder: 'Leave a comment' %>
      </div>
      <%= f.hidden_field :user, value: current_user.id %>
      <%= f.hidden_field :popular_gem, value: @gem.id %>
      <%= f.submit :Comment, class: "btn btn-default pull-right" %>
    <% end %>
  <% else %>
      <span class="label label-warning"><strong><%= link_to 'Sign in', '/auth/github' %> to leave a
        comment</strong></span>
  <% end %>
  <script type="text/javascript">
    $(document).ready(function () {

      $('.wysihtml5').each(function (i, elem) {
        $(elem).wysihtml5();
      });

      $('#update_gem').click(function(){
        return $("a[data-remote]").on("ajax:success", function(e, data, status, xhr) {
          location.reload();
        })
      });
    })
  </script>
</div>