<div class="container">
  <div class="row">
    <div class="col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <div class="well profile">
        <div class="col-sm-12">
          <div class="col-xs-12 col-sm-12">
            <div class="col-xs-5">
              <%= render partial: 'shared/heart_button', locals: {gem: @popular_gem} %>
              <h2 class=""><%= @popular_gem.name %></h2>
            </div>
            <div class="col-xs-7">
              <div class="col-xs-5 pull-right">
                <%= link_to 'Update Now', edit_popular_gem_path, class: "btn btn-warning btn-block pull-right active" %>
              </div>
              <small class="col-xs-5 pull-right">Last updated on <%= @popular_gem.updated_at.to_date %></small>
            </div>
            <div class="col-xs-12">
              <p><strong>Version: </strong><%= @popular_gem.version %></p>

              <p><strong>About: </strong><%= @popular_gem.description %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 divider text-center">
          <div class="col-xs-12 col-sm-6 emphasis">
            <h2><strong><%= @popular_gem.total_downloads %></strong></h2>

            <p>
              <small>Total Downloads</small>
            </p>
            <a href="<%= @popular_gem.url %>" class="btn btn-success btn-block active">View on Rubygems</a>

          </div>
          <div class="col-xs-12 col-sm-6 emphasis">
            <h2><strong><%= @popular_gem.version_downloads %></strong></h2>

            <p>
              <small>Version Downloads</small>
            </p>
            <a href="<%= @popular_gem.project_url %>" class="btn btn-info btn-block active">View Project</a>
          </div>
        </div>
      </div>
      <div class="">
        <h1>Comments:</h1>
        <% @comments.each do |comment| %>
          <p><strong><%= link_to comment.user.name, comment.user %>:</strong> <%= comment.body.html_safe %></p>
        <% end %>
        <% if logged_in? %>
          <%= form_for @comment, html: {class: "form-horizontal"} do |f| %>
            <div class="form-group">
              <%= f.text_area :body, class: "form-control", placeholder: 'Leave a comment' %>
            </div>
            <%= f.hidden_field :user, value: current_user.id %>
            <%= f.hidden_field :popular_gem, value: @popular_gem.id %>
            <%= f.submit :Comment, class: "btn btn-default pull-right" %>
          <% end %>
        <% else %>
          <span class="label label-warning"><strong>Sign in to leave a comment</strong></span>
      <% end %>
      </div>
    </div>
  </div>
</div>