<!DOCTYPE html>
<html>
<head>
  <title>PopularGems</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <nav class="navbar navbar-default navbar" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Popular Gems</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">Link</a>
            </li>
            <li>
              <a href="#">Link</a>
            </li>
          </ul>
          <%= form_tag "/search", method: 'get', class: "navbar-form navbar-right", role: "search" do %>
            <% if current_user %>
              <%= link_to current_user.name, current_user, class: 'btn btn-success active' %>
              <%= link_to 'Sign out', :signout %>
            <% else %>
              <%= link_to 'Sign in with Github', '/auth/github' %>
            <% end %>
            <div class="form-group">
              <%= text_field_tag 'gem_name', nil, class: "form-control", placeholder: 'Search for a gem' %>
            </div>
            <%= submit_tag :Search, class: "btn btn-default active" %>
          <% end %>
        </div>

      </nav>
    </div>
    <div class="row clearfix">
      <div class="col-md-12 column">
        <div class="col-md-10 col-md-offset-1">
          <span class="alert-danger"><%= flash.now[:notice] %></span>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
