<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'GemBundle' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-lg-12 column">
      <nav class="navbar navbar-default navbar" role="navigation" id="header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GemBundle</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= form_tag "/search", method: 'get', class: "navbar-form", role: "search" do %>
                <div class="form-group">
                  <%= text_field_tag 'gem_name', nil, class: "form-control", placeholder: 'Search for a gem' %>
                </div>
                <%= submit_tag :Search, class: "btn btn-default active" %>
              <% end %>
            </li>
          </ul>
          <div class="nav navbar-nav navbar-right">
            <ol class="breadcrumb text-center">
              <% if current_user %>
                <li>
                  <%= link_to current_user.name, current_user, class: 'label label-success', id: 'user_profile' %>
                  <span class="badge alert-warning" id="points"><%= current_user.points %></span>
                </li>
                <li>
                  <%= link_to 'Sign out', :signout %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Sign in with Github', '/auth/github' %>
                </li>
              <% end %>
            </ol>
          </div>
        </div>
      </nav>
    </div>
    <div class="row clearfix" id="wrapper">
      <div class="col-md-12 column">
        <div class="col-md-10 col-md-offset-1">
          <span class="alert-danger"><%= flash.now[:notice] %></span>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="col-lg-12 column">
    <div class="text-center">
      <p class="muted">Created by
        <a href="https://twitter.com/stevepmag">@stevepmag</a></p>
    </div>
  </div>
</div>
</body>
</html>
