<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'GemBundle' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-xs-12 column">
      <nav class="navbar navbar-default navbar" role="navigation" id="header">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">GemBundle</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to('Most downloaded gems', most_downloaded_path) %>
            </li>
            <li>
              <%= link_to('Most liked gems', most_hearted_path) %>
            </li>
            <li>
              <%= form_tag "/search", method: 'get', class: "navbar-form", role: "search" do %>
                <div class="form-group">
                  <%= text_field_tag 'gem_name', nil, class: "form-control", placeholder: 'Search for a gem' %>
                </div>
                <%= submit_tag :Search, class: "btn btn-default active" %>
              <% end %>
            </li>
          </ul>
          <div class="">
            <ul class="nav navbar-nav navbar-right navbar-link">
              <% if logged_in? %>
                <li>
                  <%= link_to current_user, id: 'user_profile' do %>
                    <%= current_user.name %> <span class="badge danger" id="points"><%= current_user.points %></span>
                  <% end %>
                </li>
                <li>
                  <%= link_to 'Sign out', :signout %>
                </li>
              <% else %>
                <li>
                  <%= link_to 'Sign in with Github', '/auth/github' %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="clearfix" id="wrapper">
      <div class="col-xs-12">
        <div class="col-xs-10">
          <%= yield %>
        </div>
        <div class="col-xs-2 pull-right">
          <div>
            <%= render(partial: 'shared/sidebar_table', locals: {
              gem_id: 'recently_liked',
              gems: @recently_liked,
              title: 'Recently liked gems'})
            %>
          </div>
          <div>
            <%= render(partial: 'shared/sidebar_table', locals: {
              gem_id: 'recently_updated',
              gems: @recently_updated,
              title: 'Recently updated gems'})
            %>
          </div>
        </div>  
      </div>
    </div>
  </div>
  <div class="col-xs-12 row">
    <div class="text-center">
      <p class="muted">Created by
        <a href="https://twitter.com/stevepmag">@stevepmag</a></p>
    </div>
  </div>
</div>
</body>
</html>
